<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<?include Includes.wxi?>
	<Product Id="$(var.ProductGuid)"
			Name='!(loc.AppName) $(var.CurrentBerEditorVersion)'
			Language='1033'
			Version='$(var.CurrentBerEditorVersion)'
			Manufacturer='!(loc.Manufacturer)'
			UpgradeCode="$(var.CurrentUpdateGuid)" >

		<!-- We set InstallScope to perMachine to install for all users -->
		<Package Description='!(loc.PackageDescription)' Comments='!(loc.PackageComments)'
				Manufacturer='!(loc.Manufacturer)'
				InstallerVersion='200'
				Platform="x64"
				InstallPrivileges='elevated' InstallScope='perMachine'
				Compressed='yes' />

		<!-- http://wixtoolset.org/documentation/manual/v3/howtos/ui_and_localization/configure_arp_appearance.html -->
		<Icon Id="icon.ico" SourceFile="bereditor.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<!-- Don't allow downgrade. -->
		<MajorUpgrade DowngradeErrorMessage='!(loc.DowngradeErrorMessage)' />

		<Property Id="SUPPRESS_LAUNCH_BEREDITOR_AFTER_INSTALL_FINISH">
			<RegistrySearch Id="SuppressLaunchBerEditorHKCU"
							Root="HKCU"
							Key="SOFTWARE\[Manufacturer]\!(loc.AppName)"
							Name="PreconfigureSuppressLaunchAfterInstall"
							Type="raw" />

			<RegistrySearch Id="SuppressLaunchBerEditorHKLM"
							Root="HKLM"
							Key="SOFTWARE\[Manufacturer]\!(loc.AppName)"
							Name="PreconfigureSuppressLaunchAfterInstall"
							Type="raw" />
		</Property>

		<Media Id='1' Cabinet='bereditor.cab' EmbedCab='yes' />
	
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='DesktopFolder' Name="DesktopFolder" />

			<Directory Id="ProgramMenuFolder">
				<Directory Id="BerEditorStartMenuFolder" Name='!(loc.AppName)' />
				</Directory>

			<Directory Id='ProgramFiles64Folder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='!(loc.Manufacturer)'>
            		<Component Id='ApplicationDesktopShortcut' Guid="$(var.GuidOfCustomComponent)">
              			<RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Action="createAndRemoveOnUninstall">
                			<RegistryValue Name="CustomComponent" Value="1" Type="integer" KeyPath='yes' />
              			</RegistryKey>

						<!--
              			<File Id="bereditor.ico" Name="bereditor.ico" Source="bereditor.ico" />
						-->

              			<!-- bereditor shortcut on desktop -->
              			<Shortcut Id="ApplicationDesktopShortCut" Directory="DesktopFolder"
                        	Name='!(loc.AppName)' Target="[#bereditor.exe]"
                        	Hotkey="0" IconIndex="0" Show="normal"
                        	WorkingDirectory="bin_Dir" />
            		</Component>
				</Directory>
			</Directory>
		</Directory>

		<Property Id="BEREDITOR_AUTO_START">1</Property>

		<!-- Auto-start via Registry -->
		<DirectoryRef Id="INSTALLDIR">
			<!--
			<Component Id="BerEditorAutoStart" Guid="$(var.GuidOfAutoStartComponent)">
				<RegistryKey Root="HKCU"
							Key="Software\Microsoft\Windows\CurrentVersion\Run"
							Action="create">
					<RegistryValue Name='!(loc.AppName)' Value="[#bereditor.exe]" Type="string" KeyPath="yes" />
				</RegistryKey>

				<Condition>BEREDITOR_AUTO_START</Condition>
			</Component>
			-->
		</DirectoryRef>

		<DirectoryRef Id="BerEditorStartMenuFolder">
			<Component Id="BerEditor_StartMenuShortCut" Guid="$(var.GuidOfStartMenuShortCutComponent)" >
				<RemoveFolder Id="BerEditorStartMenuFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
						Name="Installed" Type="integer" Value="1" KeyPath='yes' />

				<!-- shortcut to 'start bereditor' -->
				<Shortcut Id="ApplicationStartMenuShortCut" Directory="BerEditorStartMenuFolder"
							Name="!(loc.AppName)" Target="[#bereditor.exe]"
							Hotkey="0" IconIndex="0" Show="normal"
							WorkingDirectory="bin" />
				<!-- shortcut to 'Uninstall' -->
				<Shortcut Id="UninstallProduct" Name="!(loc.UninstallBerEditor)"
							Target="[SystemFolder]msiexec.exe" IconIndex="0"
							Arguments="/x [ProductCode]" Description="!(loc.UninstallBerEditor)" />
			</Component>
		</DirectoryRef>

		<!-- UI related -->
		<Property Id='WIXUI_INSTALLDIR' Value="INSTALLDIR" />
		<UI>
			<UIRef Id='WixUI_InstallDir_NoLicense' />
			<UIRef Id='WixUI_ErrorProgressText' />
		</UI>

		<Feature Id='Main' Level='1'>
			<ComponentRef Id='BerEditor_StartMenuShortCut' />
			<ComponentRef Id='ApplicationDesktopShortcut' />
			<!--
			<ComponentRef Id='BerEditorAutoStart' />
			-->
			<!-- defined in fragment.wxs -->
			<ComponentGroupRef Id='group_bin' />
		</Feature>

		<!--
		<Property Id="CHECKBOX_DEL_BERVIEWER_DATA" Secure="yes" />
		-->
		<WixVariable Id="WixUIBannerBmp" Value="bereditor-top-banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="bereditor-background.bmp" />

	</Product>
</Wix>
